body{
  background-color: #e4f9f5;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.headline{
  text-align: center;
  margin-top: 3%;
  font-size: 50px;
}

.promo {
  text-align: center;
  font-size: 23px;
}

.btn{
  font-family: arial;
  text-transform: uppercase;
  font-size: 25px;
  width: 220px;
  height: 50px;
  border-radius: 80px;
  line-height: 50px;
  text-align: center;
  border: 3px solid #009688;
  display: block;
  text-decoration: none;
  margin: 100px auto;
  color: #009688;
  position: relative;
  overflow: hidden;
  background: transparent;
  margin-bottom: 150px;
}

.btn:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #009688;
  opacity: .5;
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}

.btn:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #009688;
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
  transition-delay: .2s;
}

.btn:hover{
  color: #fff;
}

.btn:hover:before{
  top: 0;
}

.btn:hover:after{
  top: 0;
}

.btnTable{
  margin: -50px auto;
  min-width:70%;
}

.backgrounsImage{
  display: block;
  margin: -200px auto;
  margin-top: -200px;
}

.grass{
  background-color: #81b214;
  width: 100%;
  height: 190px;
}

.cloudTable{
  margin: -300px auto;
  min-width:100%;
  text-align: center;
}

.playgroundTable{
  margin: auto;
  width: 80%;
  margin-bottom: 150px;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #009688;
  color: #fff;
  border: 1px solid #009688;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #009688;
  border: 1px solid #009688;
  cursor: pointer;
}
.addTable{
  margin: auto;
  table-layout: fixed;
  width: 40%;
}

.addTable input{
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  text-align: center;
}

.addTable input:focus {
  border: 1px solid #777;
}

.addBtn, .searchBtn, .clearBtn, .deleteBtn{
  background: #009688;
  color: #fff;
  border: 1px solid #009688;
  border-radius: 5px;
  padding: 15px;
  display: block;
  margin-top: 20px;
  width: 129%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  font-size: 20px;
}

.addBtn:hover, .searchBtn:hover, .clearBtn:hover, .deleteBtn:hover{
  background: #fff;
  color: #009688;
  border: 1px solid #009688;
  cursor: pointer;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #009688;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.inline-block-child {
  display: block;
  width: 70%;
  margin: auto;
}

.checkboxTable{
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}
